<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HomePage</title>
    </head>

    <body>
        <form action="{% url 'about' %}">
            <input type="submit" value="About"/>
        </form>

        <h1>WORD COUNT</h1>
        THIS IS HTML FAM
        <br>{{ hithere }}

    {#    <form action="count">  {# redirect to 'count.html' page - VARIANTA 1 #}

        <form action="{% url 'count' %}">  {# redirect to 'count.html' page - VARIANTA 2 #}
            <textarea cols="40" rows="10" name="fulltext"></textarea>
            <br />
            <input type="submit" value="Count"/>
        </form>

    </body>

Copyright 2021 - Ducushore
</html>


